<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <a href="/">home</a> |
    <a href="/about">about</a>
  </nav>
  <h1>게시판</h1>
  <form action="/create" method="post">
    <label for="post">글 입력 </label>
    <input type="text" id="post" name="post"><br><br>
    <button type="submit">보내기</button>
  </form>
  <h2>글 목록</h2>
  <!-- 글의 개수만큼 출력  -->
  <ul>
    <% for(let i = 0; i < posts.length; i++) {  %>
    <li><%= posts[i] %></li>
    <% } %>

  </ul>
</body>

</html>